.showcourse{
    align-items: center;
}

.hh1 {
    text-align: center;
    font-size: 30px;
    font-style: normal ;
    font-weight: 500;
  }

.hh2 {
    text-align: center;
    font-size: 20px;
    font-style: normal ;
    font-weight: 400;
  }
