.schedule-table {
  border-collapse: collapse;
  border: 1px solid #f5ebe5;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 5px; 
  font-size: 12px; 
  text-align: center;
  background-color: #f7f7f7;
}

.schedule-table th {
  background-color: #f5ebe5;
}

.schedule-table td {
  height: 50px;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .small-table .schedule-table {
    width: 100%;
  }
}

.hidden-cell {
  display: none;
}

.visible-cell {
  /* Add any additional styling for visible cells if needed */
}
