
*{
  font-family: "Poppins", "Prompt",sans-serif;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 4%;
  background-color: #ffffff;
  color: rgb(42, 42, 42);
  box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.15);
}

.navbar-logo img {
  height: 60%;
  width: 60%;
  margin: 5%;
  display: flex;
   /* Adjust the height as needed */
}

.navbar-menu {
  width: 90%;
  list-style: none;
  /* display: flex; */
  margin: 0; /* Remove default margin for list items */
  padding: 0; /* Remove default padding for list items */
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  color: white;
  font-size: 1px;
  font-family: "Poppins", "Prompt",sans-serif;
  font-weight: 500;
}

/* Navbar links */
.navbar-menu a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 15px;
  padding: 10px 16px;
}

.navbar-menu a:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.navbar-menu a.active {
  background-color: #f5f5f5;
  border-radius: 10px;
}

h2{
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  text-align: center; 
}
.btn1 {
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6E2A26;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  line-height: 1.5;
}

.btn1:hover {
  color: #6E2A26;
  background-color: #ffffff;
  border-color: #6E2A26;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.selected {
  background-color: lightblue;
}
.btn-cancel {
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  line-height: 1.5;
}

.btn-cancel:hover {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
@media screen and (max-width: 500px) {
  .popup {
    width: 50%; /* ปรับขนาดเมื่อหน้าจอมีความกว้างไม่เกิน 800px */
  }
}
.popup {
  background-color: white;
  padding: 40px;
  width: 30%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
}



.close {
  height: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}


/* checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-right: auto; /* ระยะห่างระหว่างช่อง checkbox และข้อความ */
  display: flex; /* ทำให้ข้อความและช่อง checkbox อยู่ในบรรทัดเดียวกัน */
  align-items: center; /* จัดให้ข้อความและช่อง checkbox อยู่กึ่งกลางตามแนวตั้ง */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px; /* ระยะห่างระหว่างช่อง checkbox และข้อความ */
}